.card{
    height: 16rem;    
    border: 3px solid map-get($colores, secundario);
    &:hover{border-color: map-get($colores, principal);
             transition: 1s;              
    }
     img{
        width: auto;
        height: 120px;
        padding-top: 9px;          
    }
     h3{
        font-size: 16px;
        text-align: center;         
     }
     .btn__info{
        width: 116px;
        height: 31px;
        background-color: #e6073f;
        color: #fff;
        font-size: .8rem;          
        cursor: pointer;
        border: none;        
        &:hover{
            background-color: #4c3f54;
            transition: 1s;
            transition: 1.7s;
            // Animación
            animation: destacados 1.7s;
            @keyframes destacados{
                20%{font-size: 1rem;            
                }
                40%{font-size: 0.7rem;         
                }
                60%{font-size: 1rem;         
                }   
                80%{font-size: 00.7rem;         
                }  
            }
        }	    
    }
}


