$fuenteTitulos: 'Yesteryear', sans-serif;
$fuenteGeneral: 'Open Sans', sans-serif;


// Mapa
$colores:(
    principal: #e6073f,
    secundario: #4c3f54,
    fondo: #f0efea
);

// Extend
.boton{
    background-color: map-get($colores, principal);
    color: #ffffff;
}    